<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pg Diff New Style</title>

    <link rel="stylesheet" href="/bootstrap-4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/mainw.css"/>
</head>

<body>
    <div class="root">
        <div class="header"></div>
        <div class="content-container">
            <div class="side">
                <ul>
                    <li>Учить</li>
                    <li>Проверять</li>
                </ul>
            </div>
            <div class="content">
                <div class="learning">
                    <div class="example">
                        <span>
                            2*2
                        </span>
                        <span>
                            4
                        </span>
                    </div>
                    <div class="numbers">
                        <div>
                            <button type="button" class="btn btn-primary">1</button>
                            <button type="button" class="btn btn-primary">2</button>
                            <button type="button" class="btn btn-primary">3</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary">4</button>
                            <button type="button" class="btn btn-primary">5</button>
                            <button type="button" class="btn btn-primary">6</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary">7</button>
                            <button type="button" class="btn btn-primary">8</button>
                            <button type="button" class="btn btn-primary">9</button>
                        </div>
                    </div>
                    <div class="checkLine">
                        <button type="button" class="btn btn-primary">0</button>
                        <button type="button" class="btn btn-success">Проверить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap-4.3.1/js/bootstrap.bundle.js"></script>
</body>
</html>
