<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pg Diff</title>

    <link rel="stylesheet" th:href="@{/bootstrap-4.3.1/css/bootstrap.min.css}"/>
    <!--<link rel="stylesheet" th:href="@{/bootstrap-table-1.15.4/bootstrap-table.min.css}"/>-->
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="/jquery-splitter/css/jquery.splitter.css"/>
    <link rel="stylesheet" href="/css/main.css"/>

</head>

<body>
    <div role="main">
        <div class="container">
            <div class="row my-2">
                <div class="col">
                    <div class="row border border-green px-3 py-2 mx-0 bg-light rounded">
                        <div class="col-2 pl-0">
                            <div class="">
                                <select id="ddd" class="custom-select custom-select-sm rounded-pill">
                                    <option value="-1">Select ...</option>
                                    <option>TABLE</option>
                                    <option>COLUMN</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm pr-1">
                    <div class="border border-green px-2 py-2 bg-light rounded">
                        <div class="row">
                            <h5 class="col-8">Source server</h5>
                            <span class="col-4" id="resultConnect1"></span>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-3">
                                <input id="host1" value="10.5.31.158" class="form-control form-control-sm rounded-pill" type="text" placeholder="Host">
                            </div>
                            <div class="col-3">
                                <input id="port1" value="5432" class="form-control form-control-sm rounded-pill" type="text" placeholder="Port">
                            </div>
                            <div class="col-3">
                                <input id="dbname1" value="pgdiffs" class="form-control form-control-sm rounded-pill" type="text" placeholder="Db name">
                            </div>
                            <div class="col-3">
                                <input id="schema1" value="assd" class="form-control form-control-sm rounded-pill" type="text" placeholder="Schema">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-4">
                                <input id="username1" value="postgres" class="form-control form-control-sm rounded-pill" type="text" placeholder="Username">
                            </div>
                            <div class="col-4">
                                <input id="password1" value="postgres" class="form-control form-control-sm rounded-pill" type="password" placeholder="Password">
                            </div>
                            <div class="col-4">
                                <button id="ConnOne" class="btn btn-outline-custom btn-sm btn-block rounded-pill">Test connection</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm pl-1">
                    <div class="border border-green px-2 py-2 bg-light rounded">
                        <div class="row">
                            <h5 class="col-8">Destination server</h5>
                            <span class="col-4" id="resultConnect2"></span>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-3">
                                <input id="host2" value="10.5.31.158" class="form-control form-control-sm rounded-pill" type="text" placeholder="Host">
                            </div>
                            <div class="col-3">
                                <input id="port2" value="5432" class="form-control form-control-sm rounded-pill" type="text" placeholder="Port">
                            </div>
                            <div class="col-3">
                                <input id="dbname2" value="pgdiffd" class="form-control form-control-sm rounded-pill" type="text" placeholder="Db name">
                            </div>
                            <div class="col-3">
                                <input id="schema2" value="assd" class="form-control form-control-sm rounded-pill" type="text" placeholder="Schema">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-4">
                                <input id="username2" value="postgres" class="form-control form-control-sm rounded-pill" type="text" placeholder="Username">
                            </div>
                            <div class="col-4">
                                <input id="password2" value="postgres" class="form-control form-control-sm rounded-pill" type="password" placeholder="Password">
                            </div>
                            <div class="col-4">
                                <button id="ConnTwo" class="btn btn-outline-custom btn-sm btn-block rounded-pill">Test connection</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <div class="row border border-green px-2 py-2 mx-0 bg-light rounded">
                        <div class="col-2 pl-0">
                            <div class="">
                                <select id="operation" class="custom-select custom-select-sm rounded-pill">
                                    <option value="-1">Select operation</option>
                                    <option>TABLE</option>
                                    <option>GRANT</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2 custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="withPartitions">
                            <label class="custom-control-label" for="withPartitions">With partitions</label>
                        </div>
                        <div class="col-2 custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="withDDL">
                            <label class="custom-control-label" for="withDDL">With DDL</label>
                        </div>
                        <!--<span class="col-2 text-center" id="resultDiff"></span>-->
                        <div class="col-2">
                            <button id="findDiff" class="btn btn-custom btn-sm btn-block rounded-pill">Find diff</button>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-2 pr-0">
                            <div class="d-flex flex-row justify-content-end">
                                <div class="mr-1">
                                    <button id="copyDiff" type="button"
                                            data-toggle="tooltip"
                                            data-placement="top" title="Copy to clipboard"
                                            class="btn btn-custom btn-sm btn-block rounded-left"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                                </div>
                                <div class="">
                                    <button id="exportDiff" type="button"
                                            data-toggle="tooltip"
                                            data-placement="top" title="Export to SQL"
                                            class="btn btn-custom btn-sm btn-block rounded-right"><i class="fa fa-external-link" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="tableDiffContainer" class="border border-green m-2 bg-light rounded">

            <div id="source"></div>
            <div id="dest"></div>



            <!--<table-->
                    <!--id="tableDiff"-->
                    <!--data-toggle="table"-->
                    <!--data-click-to-select="true"-->
                    <!--data-height="150"-->
                    <!--data-row-style="rowStyle"-->
                    <!--data-detail-view="true"-->
                    <!--data-detail-view-icon="false"-->
                    <!--data-detail-view-by-click="false"-->
                    <!--data-detail-formatter="detailFormatter"-->
                    <!--class="table-sm">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th data-field="state" data-checkbox="true"></th>-->
                    <!--<th data-field="nameTableOne" data-width="50" data-width-unit="%">Source</th>-->
                    <!--<th data-field="nameTableTwo" data-width="50" data-width-unit="%">Destination</th>-->
                    <!--&lt;!&ndash;<th class="text-truncate" data-field="action" data-width="50" data-width-unit="%">Action</th>&ndash;&gt;-->
                <!--</tr>-->
                <!--</thead>-->
            <!--</table>-->
        </div>


    </div>
    <!-- /.container -->

    <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="true" style="position: absolute; top: 38%; left: 44%;">
        <div class="toast-header">
            <strong class="mr-auto">Copy result</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <strong class="mr-autos" role="alert" id="resultCopy"></strong>
        </div>
    </div>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/jquery-splitter/js/jquery.splitter-0.14.0.js"></script>
    <script src="/bootstrap-4.3.1/js/bootstrap.bundle.js"></script>
    <!--<script src="/bootstrap-table-1.15.4/bootstrap-table.js"></script>-->
    <script src="/js/FileSaver.min.js"></script>
    <!--<script src="/js/w3codecolor.js"></script>-->
    <script src="/ace/ace.js"></script>


    <script src="/js/Utils.js"></script>
    <script src="/js/Connect.js"></script>
    <script src="/js/Diff.js"></script>

    <script>
        $( document ).ready(function() {
            // resizeTableDiff();
            $('.toast').toast( {delay: 1000} )
            $('[data-toggle="tooltip"]').tooltip()
            $('#tableDiffContainer').split({
                orientation: 'vertical',
                limit: 100,
                percent: false,
            });
        });
        // $( window ).resize(function() { resizeTableDiff(); });
        //
        // function resizeTableDiff() {
        //     $('#tableDiff').bootstrapTable('refreshOptions', { height:$('#tableDiffContainer').height() - 5 })
        //     $('#tableDiff').bootstrapTable('expandAllRows');
        // }

        var source = ace.edit('source');
        source.getSession().setMode("ace/mode/sql");
        source.setShowPrintMargin(false);
        source.setReadOnly(true);

        var dest = ace.edit('dest');
        dest.getSession().setMode("ace/mode/sql");
        dest.setShowPrintMargin(false);
        dest.setReadOnly(true);

        source.session.on("changeScrollTop", function(delta){
            dest.session.setScrollTop(delta);
        });

        dest.session.on("changeScrollTop", function(delta){
            source.session.setScrollTop(delta);
        });

        source.session.on("changeScrollLeft", function(delta){
            dest.session.setScrollLeft(delta);
        });

        dest.session.on("changeScrollLeft", function(delta){
            source.session.setScrollLeft(delta);
        });
    </script>
</body>
</html>
